<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SysRoleFunc">

    <resultMap id="SysRoleFuncMap" type="com.yufei.sys.model.SysRoleFunc">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="funcId" column="func_id"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="lastModifier" column="last_modifier"/>
        <result property="lastModifyTime" column="last_modify_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

	<!-- common columns -->
	<sql id="columns">
	    <![CDATA[
        id, role_id, func_id, creator, create_time, last_modifier, last_modify_time, deleted
	    ]]>
	</sql>
	
    <insert id="insert" >
    <![CDATA[
        INSERT INTO sys_role_func (
	        id, 
	        role_id, 
	        func_id, 
	        creator, 
	        create_time, 
	        last_modifier,
	        last_modify_time, 
	        deleted
        ) VALUES (
        	#{id, jdbcType=VARCHAR}, 
        	#{roleId, jdbcType=VARCHAR}, 
        	#{funcId, jdbcType=VARCHAR}, 
        	#{creator, jdbcType=VARCHAR}, 
        	#{createTime, jdbcType=TIMESTAMP}, 
        	#{lastModifier, jdbcType=VARCHAR},
        	#{lastModifyTime, jdbcType=TIMESTAMP}, 
        	#{deleted, jdbcType=INTEGER}
        )
    ]]>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE sys_role_func SET
	        role_id = #{roleId, jdbcType=VARCHAR}, 
	        func_id = #{funcId, jdbcType=VARCHAR}, 
	        creator = #{creator, jdbcType=VARCHAR}, 
	        create_time = #{createTime, jdbcType=TIMESTAMP}, 
	        last_modifier = #{lastModifier, jdbcType=VARCHAR},
	        last_modify_time = #{lastModifyTime, jdbcType=TIMESTAMP}, 
	        deleted = #{deleted, jdbcType=INTEGER}
        WHERE 
	        id = #{id}
    ]]>
    </update>

    <delete id="delete">
        DELETE FROM sys_role_func WHERE id IN
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
    </delete>
    
    <select id="getById" resultMap="SysRoleFuncMap">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM sys_role_func 
	        WHERE 
		        id = #{id}
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
	    	<choose>
	    		<when test="queryType==0">
			       	<if test="@Ognl@isNotEmpty(roleId)">
	   			 		AND role_id = #{roleId}
	   			   	</if>
			       	<if test="@Ognl@isNotEmpty(funcId)">
	   			 		AND func_id = #{funcId}
	   			   	</if>
			       	<if test="@Ognl@isNotEmpty(creator)">
	   			 		AND creator = #{creator}
	   			   	</if>
			       	<if test="@Ognl@isNotEmpty(lastModifier)">
	   			 		AND last_modifier = #{lastModifier}
	   			   	</if>
	       		</when>
	       		<otherwise>
				    <if test="@Ognl@isNotEmpty(roleId)">
			   			AND role_id LIKE CONCAT('%', #{roleId},'%')
			   		</if>
				    <if test="@Ognl@isNotEmpty(funcId)">
			   			AND func_id LIKE CONCAT('%', #{funcId},'%')
			   		</if>
				    <if test="@Ognl@isNotEmpty(creator)">
			   			AND creator LIKE CONCAT('%', #{creator},'%')
			   		</if>
				    <if test="@Ognl@isNotEmpty(lastModifier)">
			   			AND last_modifier LIKE CONCAT('%', #{lastModifier},'%')
			   		</if>
		        </otherwise>
	      	</choose>
		   	<if test="@Ognl@isNotEmpty(id)">
			    AND id = #{id}
			</if>
		   	<if test="@Ognl@isNotEmpty(createTimeBegin)">
		   		AND create_time >= #{createTimeBegin}
		   	</if>
		   	<if test="@Ognl@isNotEmpty(createTimeEnd)">
		   		AND create_time &lt; #{createTimeEnd}
		   	</if>
		   	<if test="@Ognl@isNotEmpty(lastModifyTimeBegin)">
		   		AND last_modify_time >= #{lastModifyTimeBegin}
		   	</if>
		   	<if test="@Ognl@isNotEmpty(lastModifyTimeEnd)">
		   		AND last_modify_time &lt; #{lastModifyTimeEnd}
		   	</if>
		   	<if test="@Ognl@isNotEmpty(deleted)">
			    AND deleted = #{deleted}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="long">
        SELECT count(*) FROM sys_role_func <include refid="findWhere"/>
    </select>

	<!--
        Paging query has been using Dialect for paging, you can not use Dialect directly to write the page
        Because the paging query will pass #offset#, #pageSize#, #lastRows# three parameters, the different database can be based on the three parameters of the application of different attributes to achieve
    -->
    <select id="findPage" resultMap="SysRoleFuncMap">
    	SELECT <include refid="columns"/> FROM sys_role_func 
		<include refid="findWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<select id="find" resultMap="SysRoleFuncMap">
	    SELECT <include refid="columns"/> FROM sys_role_func 
		<include refid="findWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
</mapper>
